<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LexiScanUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="LexiScanConnection"
    connectionString="Server=MSI\LNKV;Database=LexiScanDB;Trusted_Connection=True;TrustServerCertificate=True"
    providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <LexiScanUI.Properties.Settings>
   <setting name="PopupX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PopupY" serializeAs="String">
    <value>0</value>
   </setting>
  </LexiScanUI.Properties.Settings>
 </userSettings>
</configuration>
